body {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://1varunvc.github.io/Beatsv1/images/player.jpg)
}